[user]
	name = Will Constable
	email = willconstable@gmail.com
    username = wconstab
[core]
	excludesfile = ~/.gitignore
    editor = vim
[merge]
    tool = vimdiff
    conflictstyle = diff3
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
